@model IEnumerable<inmobiliaria.Models.Contrato>
@{
    ViewData["Title"] = "Listado de Contratos";
}

<div class="text-center">
    <h1>Contratos</h1>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Contratos" asp-action="Formulario">Registrar</a>
</div>

        <div id="dataTable" class="text-center" ></div>

        <div class="modal fade" id="detalle" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detalleModalLabel">Detalles del contrato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p id="propietario"></p>
        <p id="inquilino"></p>
        <p id="inmueble"></p>
        <p id="monto"></p>
        <p id="fecha_desde"></p>
        <p id="fecha_hasta"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
@section Scripts {
    <script>
        function cargarDatos(item){

            const datos = fetch('/Contratos/BuscarPorId/' + item)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('propietario').innerHTML = "<b>Propietario</b>: <br>" + data.inmueble.propietario.nombre + " " + data.inmueble.propietario.apellido + " (" + data.inmueble.propietario.dni + ")";
                document.getElementById('inquilino').innerHTML = "<b>Inquilino</b>: <br>" + data.inquilino.nombre + " " + data.inquilino.apellido + " (" + data.inquilino.dni + ")";
                document.getElementById('inmueble').innerHTML = "<b>Inmueble</b>: <br> " + data.inmueble.direccion;
                document.getElementById('monto').innerHTML = "<b>Monto</b>: <br>" + data.monto;
                document.getElementById('fecha_desde').innerHTML = "<b>Fecha inicio</b>: <br>" + data.fechaDesde;
                document.getElementById('fecha_hasta').innerHTML = "<b>Fecha hasta</b>: <br>" + data.fechaHasta;
                $('#detalle').modal('show');
            })
            .catch(error => {
                console.error('Error:', error)
                toastr.error('No se pudieron cargar los detalles del contrato');
                });
        }
        let idContrato;
        function cancelarModal(id){
          idContrato = id;
          const modal= document.getElementById('modal_cancelacion');
			const abrirModal = () => {//función flecha
				//modales: https://getbootstrap.com/docs/4.0/components/modal/
				$("#modal_cancelacion").modal("show");
			}
			if (!modal) {
          fetch("/Contratos/CancelarModal/" + id)
              .then(response => response.text())
				.then(data => {
					console.log("Modal: ", data);
					var div = document.createElement("div");
					div.innerHTML = data;
					document.body.appendChild(div);
					abrirModal();
				}).catch(error=> {
					console.log("Error: ", error);
				});
			} else {
					abrirModal();
			}
        }
        function renovarModal(id){
          idContrato = id;
          const modalRenovacion = document.getElementById('modal_renovacion');
			const abrirModal = (id) => {//función flecha
				//modales: https://getbootstrap.com/docs/4.0/components/modal/
				$(id).modal("show");
			}
			if (!modalRenovacion) {
          fetch("/Contratos/RenovarModal/" + id)
              .then(response => response.text())
				.then(data => {
					console.log("Modal: ", data);
					var div = document.createElement("div");
					div.innerHTML = data;
					document.body.appendChild(div);
          agregarListenerModal()
					abrirModal("#modal_renovacion");
				}).catch(error=> {
					console.log("Error: ", error);
				});
			} else {
					abrirModal("#modal_renovacion");
			}
        }
        function renovarContrato(){
          fetch("/Contratos/Renovar/" + idContrato, {
            method: "POST",
            body: {
              monto: document.getElementById('nuevo_monto').value,
              fechaDesde: document.getElementById('fecha_desde').value,
              fechaHasta: document.getElementById('fecha_hasta').value
            }
          })
            .then( ()=> {
              toastr.success('El contrato ha sido renovado')
              location.reload()
            }
            )
          .catch(error => {
            console.error('Error:', error)
            toastr.error('No se pudo renovar el contrato');
          });
        }

        function agregarListenerModal(){
     document.getElementById('form_renovar').addEventListener('submit',(e)=>
     {
     const fechaDesde = document.getElementById('FechaDesde').value
     const fechaHasta =document.getElementById('FechaHasta').value
     if(fechaDesde && fechaHasta && fechaDesde>=fechaHasta)
     {
       e.preventDefault()
       
              document.getElementById('ValidarFecha').innerHTML='La fecha de fin tiene que ser mayor que la de inicio'
         }else {
              e.preventDefault()
           fetch("/Inmuebles/Desocupado/" + document.getElementById("IdInmueble").value + "/"  + fechaDesde + "/" + fechaHasta)
           .then(response => response.json())
           .then(data => {
            if(!data){

               document.getElementById('ValidarFecha').innerHTML = 'La fecha se encuentra ocupada'

                    }else {
                      e.target.submit()
                    }
           })
           .catch(error => console.error(error))
         }
            })}



            function cargarTable(){
            const divTable = document.getElementById('dataTable')
              fetch("/Contratos/DataTable/")
              .then(response => response.text())
              .then(data =>{
                divTable.innerHTML= data
              
              })
              .catch(error=>{
                console.error(error)
                toastr.error('Error al cargar los contratos');
              }) 
              

              }
            }
            cargarTable()
    </script>
    }

  