@model inmobiliaria.Models.Pago;

@{
    ViewData["Title"] = "Crear pago";
    bool disabled= ViewBag.Multa != null;
}


<form id="Formulario" asp-action="Guardar" method="POST">

    <div class="form-group">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
      <div>
          <label asp-for="Concepto"></label>
          @if (disabled)
          {

            <input disabled class="form-control" asp-for="Concepto">
          }else {
            
            <input class="form-control" asp-for="Concepto">
          }
          <span asp-validation-for="Concepto" class="text-danger" ></span>
      </div>
      <div>
          <label asp-for="Monto"></label>
          @if (disabled)
          {

            <input disabled class="form-control" asp-for="Monto" type="number" step="0.01">
          }else {
            
            <input class="form-control" asp-for="Monto" type="number" step="0.01">
          }
          <span asp-validation-for="Monto" class="text-danger" ></span>
      </div>
      <div>
          <label asp-for="NumeroPago"></label>
          <input class="form-control" asp-for="NumeroPago" type="number">
          <span asp-validation-for="NumeroPago" class="text-danger" ></span>
      </div>
    <input asp-for="IdContrato">
      <label for="mensual">Pago mensual</label> 
      <input id="mensual" type="checkbox"> 
      <div id="mensual-container" class="d-none">
          <label asp-for="CorrespondeAMes"></label>
          <input class="form-control" type="date" asp-for="CorrespondeAMes">
      </div>
      <button type="Submit">Pagar</button>
    </div>
</form>

@section Scripts{
<script>
    const correspondeAMes= document.getElementById('mensual-container');
    const checkbox = document.getElementById('mensual')
    checkbox.addEventListener('change', (e) => {
    if (e.target.checked){
      fetch("/Pagos/Ultimo/"+ @ViewBag.Contrato.Id)
        .then( response => 
          response.json()
        )
          .then( data => { 
          correspondeAMes.classList.remove('d-none');
          let fecha = new Date(data.correspondeAMes);
          fecha.setMonth(fecha.getMonth() + 1);
          correspondeAMes.querySelector('#CorrespondeAMes').value = fecha.toISOString().slice(0,10);
          // correspondeAMes.querySelector('#CorrespondeAMes').value = '2025-09-12';
          }
        )
        .catch(error => {
            console.log(error);
          toast.error('Error al consultar el último pago')
        })
    }else {
          correspondeAMes.classList.add('d-none');
          correspondeAMes.querySelector('#CorrespondeAMes').value = '';
    }
  })
  
</script>
}
