@{
    ViewData["Title"] = "Inmobiliaria";
}

<section class="hero-inmo d-flex align-items-center">
  <div class="container text-center text-white">
    <h1 class="display-4 fw-bold">Inmobiliaria Premium</h1>
    <p class="lead mb-4">Hogares que inspiran confianza</p>
    <a class="active btn btn-warning btn-lg" asp-area="" asp-controller="Inmuebles" asp-action="Index">Ver Inmuebles</a>
  </div>
</section>
