@model inmobiliaria.Models.Inquilino
@{
    ViewData["Title"] = Model == null ? "Registrar inquilino" : "Editar inquilino";
}
<form asp-action="Guardar" method="POST">

    <div class="form-group">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
        <label asp-for="Nombre"></label>
        <input class="form-control" asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Apellido"></label>
        <input class="form-control" asp-for="Apellido">
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Dni"></label>
        <input class="form-control" asp-for="Dni">
        <span asp-validation-for="Dni" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Telefono"></label>
        <input class="form-control" asp-for="Telefono">
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <input type="hidden" asp-for="Id">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}